.btn {
  background-color: white;
  font-weight: 700;
  color: var(--text);
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border: 0;
  cursor: pointer;
  border-radius: var(--radius);
  margin: 0 0.5rem;
  box-shadow: var(--shadow);
  &-small {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
  &-primary {
    background-color: var(--primary);
    color: var(--text-light);
    &:hover {
      background-color: var(--primary-dark);
    }
  }
  &-success {
    background: var(--success);
    color: var(--text-light);
    &:hover {
      background-color: var(--success-dark);
    }
  }
  &-danger {
    background: var(--danger);
    color: var(--text-light);
    &:hover {
      background: var(--danger-dark);
    }
  }
}

.text {
  font-size: 1.2rem;
  font-weight: bold;
  &-danger {
    color: var(--danger);
  }
}
